<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">ProjectMgt</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>  
            <li><%= link_to 'List Projects', projects_path, class: 'font-size-15' %></li>
            <li><%= link_to 'Create New Project', new_project_path, class: 'font-size-15' %></li>
            <li><%= link_to 'Project Status', show_project_pie_chart_path, class: 'font-size-15' %></li>
          <% end %>  
            <li> <%= link_to(current_user.email) if current_user.present? %> </li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
            <li>
              <%= link_to('Login', new_user_session_path)  %>  
            </li>
        <% end %>
        <li>
        <div class="dropdown margin-top-10">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">List Of Users
          <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">admin@gmail.com - 123456</a></li>
              <li><a href="#">developer1@gmail.com - 123456 </a></li>
              <li><a href="#">developer2@gmail.com - 123456</a></li>
              <li><a href="#">developer3@gmail.com - 123456</a></li>
              <li><a href="#">developer4@gmail.com - 123456</a></li>
          </ul>
        </div>
      </li>
      </ul>
    </div>
  </div>
</nav>